[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"


[packages]
awscli = "*"
cython = "*"
atomicwrites= "*"
luigi = "*"
boto3 = "*"
cookiecutter = "*"
pillow = "*"


[requires]
python_version = "3.7"
