[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
v = {editable = true,version = "*"}

[packages]
awscli = "*"
cython = "*"
{% if cookiecutter.install_csci_utils == 'yes' -%}
csci-utils = {editable = true,git = "https://github.com/csci-e-29/2019fa-csci-utils-mjnickerson"}
{% endif -%}


[requires]
python_version = "3.7"
